*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    text-align: center;
    color: #fff;
    background-color: var(--gray);
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}

button:hover {
    background-color: var(--purple-m);
    transition: var(--smooth);
}

:root {
    --purple-m: #D590F9;
    --purple-l: #F4E3FD;
    --gray: #3F3D56;
    --smooth: all .3s ease-in;
}

/* === Overlay === */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 4;
    display: none;
}

#overlay.show {
    display: initial;
}

/* === Hearder === */
header {
    position: absolute;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.navbar__logo img {
    width: 57px;
    height: 57px;
    object-fit: cover;
}

/* menu */
.navbar__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--gray);
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}

.navbar__links.navbar__open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.navbar__link {
    list-style: none;
    margin: 55px;
}

.navbar__link a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: var(--smooth);
}

.navbar__link a:hover {
    color: var(--purple-m);
    transition: var(--smooth);
}

/* menu button */
.navbar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar__icon {
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
}

.navbar__icon:before {
    transform: translateY(-12px);
}

.navbar__icon:after {
    transform: translateY(12px);
}

/* button animation */
.open .navbar__icon {
    transform: translateX(-50px);
    background: transparent;
}

.open .navbar__icon:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
    .navbar__links {
        position: initial;
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar__link a {
        color: var(--gray);
        font-weight: bold;
    }
    .navbar__icons {
        display: none;
    }
    .navbar__btn {
        background-color: var(--gray);
    }
}

/* === Banner === */
#banner {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner__img {
    width: 80%;
    transform: translateX(15%);
    position: relative;
    z-index: -1;
}

.banner__heading {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}

.banner__heading h1 {
    font-style: oblique;
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.banner__heading h2 {
    font-size: 1.5rem;
}

.banner__heading p {
    font-weight: 400;
    line-height: 2em;
}

.banner__heading img {
    width: 128px;
    height: 170px;
    border-radius: 10%;
    margin-bottom: 0.5em;
}

.banner__btn {
    font-size: 1rem;
}

@media (min-width: 62em) {
    .banner__heading {
        text-align: center;
        margin: 0;
        padding-top: 0;
        padding-bottom: 30em;
        transform: translateX(30%) translateY(-10%);
    }
    .banner__img {
        width: 60%;
        transform: translateX(65%) translateY(85%);
    }
    .banner__heading img {
        width: 256px;
        height: 342px;
    }
    .banner__heading p {
        margin-bottom: 0.5em;
    }
    .banner__btn {
        text-align: center;
    }
}

/* === Skills === */
#skills {
    padding-top: 2em;
    margin-bottom: 15em;
    position: relative;
    overflow-x: hidden;
}

#skills h2 {
    text-align: center;
    color: var(--gray);
}

.skills__img--single {
    margin: 2em 0;
}

.skills__img--single:nth-child(odd) {
    padding-top: 2em;
}

.skills__img--single:nth-child(3) {
    margin-top: -5em;
}

@media (min-width: 62em) {
    #skills h2 {
        margin-bottom: 3em;
    }
    .skills__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills__img--single {
        margin: 0 5em;
        width: 35%;
    }
    .skills__img--single:nth-child(3) {
        margin-top: 0;
    }
}

/* == Works === */
#works {
    position: relative;
    overflow-x: hidden;
    padding-top: 2em;
}

#works h2 {
    text-align: center;
    color: var(--gray);
    margin-bottom: 3em;
}

.works__item {
    margin: 3em 0;
}

.works__item img {
    padding-bottom: 4em;
}

.works__item--heading {
    text-align: center;
    color: var(--gray);
}

.works__item--heading p {
    font-weight: 300;
    line-height: 2em;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 1em;
}

@media (min-width: 62em) {
    .works__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .works__item img {
        width: 40%;
        padding-bottom: 0;
    }
    .works__item--heading {
        width: 45%;
        text-align: initial;
    }
    .works__item--heading p {
        max-width: 500px;
        margin: 0;
    }
    .works__item:nth-child(odd) img {
        order: 2;
        width: 40%;
        padding-bottom: 0;
    }
    .works__item--heading:nth-child(odd) {
        order: 1;
        width: 45%;
        text-align: initial;
    }
}

/* === Footer === */
#footer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

.footer__img {
    position:relative;
    transform: translateX(20%);
    z-index: -1;
}

.footer__heading {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}

.footer__contact {
    margin-top: 3em;
    display: grid;
    justify-content: space-evenly;
}

.footer__contact a {
    text-decoration: none;
    color: var(--gray);
}

.footer__contact a:hover {
    color: var(--purple-m);
    transition: var(--smooth);
}

.footer__socials {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.footer__socials a {
    color: var(--gray);
    transition: var(--smooth);
}

.footer__socials a:hover {
    color: var(--purple-m);
    transition: var(--smooth);
}

.footer__btn {
    text-align: center;
    margin-top: 5em;
}

.footer__btn button {
    font-size: 1rem;
}

@media (min-width: 62em) {
    .footer__img {
        width: 60%;
        transform: translateX(10%) translateY(60%);
    }
    .footer__heading {
        transform: translateX(180%) translateY(-50%);
        margin: 0;
    }
    .footer__contact {
        display: grid;
        justify-content: space-evenly;
        transform: translateX(0);
    }
    .footer__socials {
        justify-content: space-evenly;
    }
}