*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
}

.container__btn {
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    background-color: var(--white-sm);
    padding-top: 1.5rem;
}

h1 {
    font-weight: 400;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2.5rem;
}

label {
    font-weight: 400;
}

input {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: .5rem;
    margin-bottom: 28rem;
    color: #fff;
    background-color: var(--gray);
    padding: .6rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--smooth);
}

button:hover {
    background-color: var(--purple);
    transition: var(--smooth);
}

:root {
    --purple: #D590F9;
    --gray: #3F3D56;
    --white-sm: #f5f5f5;
    --smooth: all .3s ease-in;
}

@media (min-width: 62em) {
    body {
        background-image: url("../img/macos-monterey-wwdc-21-stock-5k-3840x2160-5584.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0;
    }
    form {
        margin-top: 5rem;
        border-radius: 2%;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    h1 {
        padding-top: 5rem;
    }
    button {
        margin-top: 1rem;
        margin-bottom: 15rem;
    }
}