body {
    width: 100vw;
}

input {
    width: 100%;
    margin: 10px 0;
    height: 25px;
    border-radius: 5px;
}

select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

form {
    padding: 20px;
    background-color: lightgray;
}

#fsubmit {
    width: 100px;
    color: white;
    background-color: green;
}